body {
  font-family: Slack-Larsseit, "Helvetica Neue", Helvetica, "Segoe UI", Tahoma,
    Arial, sans-serif !important;
  position: relative;
  min-height: 100vh;
  padding-top: 3.5rem;
}

.table {
  table-layout: fixed;
}

.dropdown-item:active {
  background-color: #611f69;
}

.avatar {
  border: 0.3rem solid rgba(#611f69, 0.3);
  max-width: 9rem;
}

.avatar-users {
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
}

.avatar-users:hover {
  border-width: 0.05rem;
  border-color: #3f0e40;
  border-style: solid;
  transition: 0.5s ease;
}

.avatar-users:hover .image {
  opacity: 0.3;
}

.avatar-users:hover .middle {
  opacity: 1;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.hat {
  width: 35px;
  position: absolute;
  left: -20px;
  top: -20px;
  transform: rotate(-45deg);
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text {
  color: white;
  background-color: #3f0e40;
}

.download {
  width: 2rem;
  margin: 0.5rem;
}

.download:hover {
  width: 2.5rem;
  margin: 0.25rem;
}

.post {
  font-size: 0.8rem;
  text-align: center;
  margin: 0rem;
  max-width: 3.5rem;
  max-height: 3.5rem;
}

.border-slack {
  border: #3f0e40;
}

.navbar .navbar-navitem > .open > a:hover {
  background-color: #611f69;
}

.navbar-nav .dropdown-menu {
  max-height: 150px;
  overflow: auto;
}

.card-body {
  color: whitesmoke;
  -webkit-box-shadow: -16px 10px 64px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -16px 10px 64px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -16px 10px 64px 0px rgba(0, 0, 0, 0.75);
  background: rgb(50, 78, 218);
  background: radial-gradient(
    circle,
    rgba(50, 78, 218, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.rounded-circle:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.text-slack {
  color: #3f0e40;
}

footer {
  width: 100%;
}

body > footer {
  bottom: 0;
}

.flex-fill {
  flex: 1 1 auto;
}
.c-type-headline-jumbo {
  /*max-width: 40rem;*/
  margin-left: auto;
  margin-right: auto;
}

.c-type-paragraph-hero {
  font-size: calc(1.125rem + (2 * (100vw - 400px) / 624));
}

.c-type-paragraph-hero {
  font-weight: 400;
  line-height: 1.333;
  letter-spacing: -0.2px;
  margin-top: 0;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3f0e40; /* Blue */
  border-bottom: 4px solid #3f0e40;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a {
  color: #611f69;
  font-weight: bold;
}

a:hover {
  color: #3f0e40;
  font-weight: bold;
}

.btn-outline-slack {
  background-color: #3f0e40;
  border-color: #b595b6;
  color: white;
}

.btn-outline-slack:hover {
  color: #3f0e40;
  background-color: white;
}

.nav-link:hover {
  background-color: rgba(244, 244, 244, 1);
}

#fancy_words span {
  position: relative;
  top: 3px;
  display: inline-block;
  animation: bounce 0.3s ease infinite alternate;
  font-size: 20px;
  color: #3f0e40;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

#fancy_words span:nth-child(2) {
  animation-delay: 0.1s;
}

#fancy_words span:nth-child(3) {
  animation-delay: 0.2s;
}

#fancy_words span:nth-child(4) {
  animation-delay: 0.3s;
}

#fancy_words span:nth-child(5) {
  animation-delay: 0.4s;
}

#fancy_words span:nth-child(6) {
  animation-delay: 0.5s;
}

#fancy_words span:nth-child(7) {
  animation-delay: 0.6s;
}

#fancy_words span:nth-child(8) {
  animation-delay: 0.7s;
}

#fancy_words span:nth-child(9) {
  animation-delay: 0.8s;
}

#fancy_words span:nth-child(10) {
  animation-delay: 0.9s;
}

#fancy_words span:nth-child(11) {
  animation-delay: 1s;
}

#fancy_words span:nth-child(12) {
  animation-delay: 1.1s;
}

#fancy_words span:nth-child(13) {
  animation-delay: 1.2s;
}

#fancy_words span:nth-child(14) {
  animation-delay: 1.3s;
}
#fancy_words span:nth-child(15) {
  animation-delay: 1.4s;
}
#fancy_words span:nth-child(16) {
  animation-delay: 1.5s;
}
#fancy_words span:nth-child(17) {
  animation-delay: 1.6s;
}
#fancy_words span:nth-child(18) {
  animation-delay: 1.7s;
}
#fancy_words span:nth-child(19) {
  animation-delay: 1.8s;
}
#fancy_words span:nth-child(20) {
  animation-delay: 1.9s;
}
#fancy_words span:nth-child(21) {
  animation-delay: 2s;
}
#fancy_words span:nth-child(22) {
  animation-delay: 2.1s;
}
#fancy_words span:nth-child(23) {
  animation-delay: 2.2s;
}

#fancy_words span:nth-child(24) {
  animation-delay: 2.3s;
}

/* ANIMATION */
@keyframes bounce {
  100% {
    top: -3px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

code.snippet {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #3f0e40;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    line-height: 1.6;
    margin-bottom: 0.5em;
    max-width: 100%;
    overflow: auto;
    padding: 0.5em 1em;
    display: block;
    word-wrap: break-word;
}
code.hl {
    background-color: rgba(var(--sk_foreground_min,29,28,29),.04);
    color: #e01e5a;
}
a.mention{
  background: rgba(var(--sk_highlight_accent,29,155,209),.1);
  color: rgba(var(--sk_highlight,18,100,163),1);
}

p.breaking {
  word-break: break-word;
}