{% extends "base.html" %}
{% block content %}
    <h2 class="c-type-headline-jumbo" style="text-align: center">403: You SHALL NOT PASS, Forbidden.</h2>
    <p class="c-type-paragraph-hero" style="text-align: center"><a href="/">Return to HomePage</a></p>
{% endblock %}