{% extends "base.html" %}
{% block content %}
    <h2 class="c-type-headline-jumbo" style="text-align: center">404: Page probably gone for a walk, brb.</h2>
    <br>
    <p class="c-type-paragraph-hero" style="text-align: center"><a href="/">Return to HomePage</a></p>
{% endblock %}