{% if is_paginated %}
    <nav aria-label="Page navigation"><br>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    {% if '/search/' in request.path %}
                        <a class="page-link" href="?search_query={{ search_query }}&page=1" aria-label="Previous">
                    {% else %}
                        <a class="page-link" href="?search_query={{ search_query }}&page=1" aria-label="Previous">
                    {% endif %}
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">begin</span>
                    </a>
                </li>
            {% endif %}
            {% for n in page_obj.paginator.page_range %}
                {% if page_obj.number == n %}
                    <li class="page-item active"><a class="page-link" href="#">{{ n }}</a></li>
                {% elif n > page_obj.number|add:'-4' and n < page_obj.number|add:'4' %}
                    {% if '/search/' in request.path %}
                        <li class="page-item"><a class="page-link" href="?search_query={{ search_query }}&page={{ n }}">{{ n }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    {% if '/search/' in request.path %}
                    <a class="page-link" href="?search_query={{ search_query }}&page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">end</span>
                    </a>
                    {% else %}
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">end</span>
                    </a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}