{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'template_static/styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'template_static/styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'template_static/styles/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'template_static/styles/datatables.min.css' %}">
    <link id="favicon" rel="shortcut icon" href="{% static 'template_static/icon/favicon_32.ico' %}" sizes="16x16 32x32 48x48">
    <script src="{% static 'template_static/js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'template_static/js/moment.min.js' %}"></script>
    <script src="{% static 'template_static/js/popper.min.js' %}"></script>
    <script src="{% static 'template_static/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'template_static/js/datatables.min.js' %}"></script>
    <script src="{% static 'template_static/js/datetime-moment.js' %}"></script>
    <title>SlackStorage v1.1.0</title>
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="my-2 p-2 bg-white rounded shadow-sm">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
<footer class="page-footer font-small light">
    <div class="footer-copyright text-center py-3">Copyright © 2019 by
        <a href="https://career.softserveinc.com/en-us/schedule" target="_blank"> IT Academy</a>
    </div>
</footer>

</html>
