{% extends "base.html" %}
{% block content %}
    {% if request.user.is_authenticated %}
        {% if token_exists %}
            <h6 style="text-align: center"><b>Users files:</b></h6>
            <table id="user_files" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>User</th>
                    <th>Timestamp</th>
                    <th>File</th>
                </tr>
                </thead>
                <tbody>
                {% for file in files %}
                    <tr>
                        <td>
                            <img src="{{ file.user.get_local_avatar }}" alt="" style='max-width: 50px'>
                            <a href="{% url 'user_profile' file.user.pk %}" class="user-link">{{ file.get_username }}</a>
                        </td>
                        <td>
                            {{ file.timestamp|date:"d M Y H:i" }}
                        </td>
                        <td>
                            {{ file.get_local_file }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <main class="main"><br>
                <h1 class="c-type-headline-jumbo" style="text-align: center">API Token not found... :(</h1>
                <br>
                <p class="c-type-paragraph-hero" style="text-align: center">Add your token and wait few seconds...</p>
            </main>
        {% endif %}
    {% else %}
        <main class="main"><br>
            <h1 class="c-type-headline-jumbo" style="text-align: center">Log in to see the content :)</h1>
        </main>
    {% endif %}
<script>
  $(document).ready( function () {
      $.fn.dataTable.moment( 'DD MMM YYYY HH:mm' );
      $('#user_files').DataTable( {
        "order": [[ 1, "desc" ]]
    } );
  } );
</script>
{% endblock %}
