{% extends 'base.html' %}
{% block content %}
{% if not token_exists %}
<main class="main">
    <h1 class="c-type-headline-jumbo" style="text-align: center">Welcome in SlackStorage</h1>
    <br>
    <p class="c-type-paragraph-hero" style="text-align: center">We indroduce You our tool to store Your Slack data for
        free!</p>
    <form method="POST">
        {% csrf_token %}
        <input required type="text" class="form-control" placeholder="Your Slack token" name="slack_token">
        <button type="submit" style="background-color: #611f69; width: 100%;" class="btn btn-primary">TRY FOR
            FREE</button>
    </form>
</main>
{% else %}
<main class="main">
    {% if team %}
    <h1 class="c-type-headline-jumbo" style="text-align: center"><b>{{ team.name }}</b></h1> {{ team.avatar }}
    <br>
    <img src="{{ team.icon }}" class="center" style="display: block; margin-left: auto; margin-right: auto;">
    <br>
    <div class="justify-content-center text-center">
        <div id="fancy_words" class="d-inline-block">
            <span>E</span>
            <span>n</span>
            <span>j</span>
            <span>o</span>
            <span class="mr-3">y</span>

            <span>Y</span>
            <span>o</span>
            <span>u</span>
            <span class="mr-3">r</span>

            <span>P</span>
            <span>r</span>
            <span>i</span>
            <span>v</span>
            <span>a</span>
            <span>t</span>
            <span>e</span>
            </br>
            <span>S</span>
            <span>t</span>
            <span>o</span>
            <span>r</span>
            <span>a</span>
            <span>g</span>
            <span>e</span>
            <span>!</span>
        </div>
        {% else %}
        <h1 class="c-type-headline-jumbo" style="text-align: center">Welcome to your workspace!</h1>
        <br>
        <p class="c-type-paragraph-hero" style="text-align: center">Please be patient... we're collecting your data :)
        </p>
        {% endif %}
</main>
{% endif %}
{% endblock %}