{% extends "base.html" %}
{% load extra_filters %}
{% block content %}
    {% if request.user.is_authenticated %}
        {% if is_search_results %}
            <h6 class="border-bottom border-gray pb-2 mb-0">Search results:</h6>
        {% else %}
            <h6 class="border-bottom border-gray pb-2 mb-0">#{{ channel_name }}</h6>
        {% endif %}

        {% if token_exists %}
            {% for message in messages %}
                {% if message.msg %}
                    <div class="media text-muted pt-3">
                        <div style='width: 3.5rem; height: 3.5rem' data-toggle="tooltip" data-placement="top"
                             title="{{ message.team }}">
                            <img alt="32x32" class="mr-2 rounded" src="{{ message.user.get_local_avatar }}"
                                 data-holder-rendered="true"
                                 style="width: 32px; height: 32px;">
                        </div>

                        <p class="media-body pb-3 mb-0 small border-bottom border-gray breaking" style="color: black;">
                            <b>{{ message.get_username }}</b>
                            <i class="text-grey-dark">{{ message.timestamp|date:"d M Y H:i" }}:</i>
                            <br>
                            {% if message.is_modified %}
                                {% filter urlize_target_blank %}
                                    {{ message.msg|render_message }}
                                {% endfilter %}
                                <br>
                                <b style="color: red">
                                    (edited to:
                                    {% for word in message.msg_modified.split %}
                                        {% if word not in message.msg %}
                                            <u>{{ word }}</u>
                                        {% else %}
                                            {{ word }}
                                        {% endif %}
                                    {% endfor %})
                                </b>

                            {% else %}
                                {% filter urlize_target_blank %}
                                    {{ message.msg|render_message }}
                                {% endfilter %}
                            {% endif %}
                        </p>
                    </div>
                {% else %}{% endif %}
            {% endfor %}
            {% include 'common/paginate.html' %}
        {% else %}
            <main class="main"><br>
                <h1 class="c-type-headline-jumbo" style="text-align: center">API Token not found... :(</h1>
                <br>
                <p class="c-type-paragraph-hero" style="text-align: center">Add your token and wait few seconds...</p>
            </main>
        {% endif %}
    {% else %}
        <main class="main"><br>
            <h1 class="c-type-headline-jumbo" style="text-align: center">Log in to see the content :)</h1>
        </main>
    {% endif %}
{% endblock %}
