{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/">
        <img src="{% static 'template_static/icon/navbar_icon.png' %}" width="30" height="30"
            class="d-inline-block align-top" alt="">
        SlackStorage
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if request.user.is_authenticated %}
    {% if token_exists %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users' %}">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'files' %}">Users files</a>
            </li>
            <li class="nav-item dropdown bg-light">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Channels
                </a>
                <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                    {% for channel_name in channel_names %}
                    <a class="dropdown-item " href="{% url 'messages' channel_name %}">#{{ channel_name }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <div>
            <form class="form-inline my-2 my-lg-0 justify-content-center" method="GET" action="{% url 'search' %}">
                <input required class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                    name="search_query">
                <button class="btn btn-outline-slack my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

    </div>
    {% else %}
    {% endif %}
    {% else %}
    {% endif %}
</nav>