{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
{% if not token_exists %}
<main class="main"><br>
    <h1 class="c-type-headline-jumbo" style="text-align: center">API Token not found... :(</h1>
    <br>
    <p class="c-type-paragraph-hero" style="text-align: center">Add your token and wait few seconds...</p>
</main>
{% else %}
<div class="container">
    <div class="row">
        <div class="card profile text-center m-auto">
            <div class="card-body rounded mb-0">
                <img class="rounded-circle" src="{{ user.get_local_avatar }}" style='max-width: 230px'>
                <br><br>
                <h5 class="card-title font-weight-bold">{{ user.name }}</h5>
                <h6 class="card-subtitle mb-2">{{ user.team }}</h6>
                <p class="card-text">ID: @{{ user.user_id }}</p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% else %}
<main class="main"><br>
    <h1 class="c-type-headline-jumbo" style="text-align: center">Log in to see the content :)</h1>
</main>
{% endif %}
{% endblock %}