{% extends "base.html" %}
{% block content %}
{% load static %}
{% if request.user.is_authenticated %}
{% if token_exists %}
<h6 class="border-bottom border-gray pb-2 mb-0"><b>Users:</b></h6>
<table class="table user-list table-hover">
    <thead>
        <tr>
            <th><span>User</span></th>
            <th><span>Team</span></th>
            <th class="text-center"><span>Status</span></th>
            <th class="d-none d-sm-table-cell"><span>Email</span></th>
            <th class="d-none d-sm-table-cell"><span>Skype</span></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td class="d-flex flex-column align-items-center justify-content-center">
                <div class="ml-auto" style="position: relative">
                    <div class="avatar-users" data-toggle="tooltip" data-placement="top" title="{{user.name}}">
                        <img src="{{ user.get_local_avatar }}" alt="Avatar" class="image">
                        <div class="middle">
                            <a href="{% url 'user_profile' user.pk %}">
                            <div class="text">Details</div>
                            </a>
                        </div>
                    </div>
                    {% if user == top_poster %}
                    <div class="hat">
                        <img src="{% static 'template_static/icon/crown.svg' %}" alt="" style="width: 100%;">
                    </div>
                    {% else %}
                        {% if user.num_messages > 250 %}
                        <div class="hat">
                            <img src="{% static 'template_static/icon/joker-hat.svg' %}" alt="" style="width: 100%;">
                        </div>
                        {% else %}
                        <div class="hat">
                            <img src="{% static 'template_static/icon/fedora.svg' %}" alt="" style="width: 100%;">
                        </div>
                        {% endif %}
                    {% endif %}

                    <p class="post">Posts:</p>
                    <p class="post">
                        <i>
                            {{user.num_messages}}
                        </i>
                    </p>
                </div>
            </td>
            <td class="align-middle">{{ user.team }}</td>
            <td class="text-center align-middle">
                {% if user.is_bot %}
                <span class="badge badge-danger">Bot</span>
                {% elif user.is_admin %}
                <span class="badge badge-success">Admin</span>
                {% else %}
                <span class="badge badge-primary">User</span>
                {% endif %}
            </td>
            <td class="d-none d-sm-table-cell align-middle">
                <a href="#">{{ user.number }}</a>
            </td>
            <td class="d-none d-sm-table-cell align-middle">
                <a href="#">{{ user.skype }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include 'common/paginate.html' %}
{% else %}
<main class="main"><br>
    <h1 class="c-type-headline-jumbo" style="text-align: center">API Token not found... :(</h1>
    <br>
    <p class="c-type-paragraph-hero" style="text-align: center">Add your token and wait few seconds...</p>
</main>
{% endif %}
{% else %}
<main class="main"><br>
    <h1 class="c-type-headline-jumbo" style="text-align: center">Log in to see the content :)</h1>
</main>
{% endif %}
{% endblock %}